<div class="ms-Grid">
    <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm6 ms-u-md6 ms-u-lg6">
            <i class="ms-Icon ms-Icon--books ms-font-xxl" aria-hidden="true">Центр знаний</i>
            <div class="ms-Overlay" style="margin-top:40px;height:300px;overflow: auto;">
                <div class="ms-Table">
                    <div class="ms-Table-row">
                        <span class="ms-Table-cell" style="width:5%"><i class="ms-Icon ms-Icon--note" aria-hidden="true"></i></span>
                        <span class="ms-Table-cell ms-fontSize-m ms-fontColor-themeDarker" style="width:60%;"><strong>Статья про то</strong></span>
                        <span class="ms-Table-cell">Автор:<i class="ms-fontColor-themeDarker">Гришин Иван</i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="ms-Grid-col ms-u-sm6 ms-u-md6 ms-u-lg6">
            <i class="ms-Icon ms-Icon--mail ms-font-xxl" aria-hidden="true">Сообщения</i>
            <div class="ms-MessageBanner">
                <div class="ms-MessageBanner-content">
                    <div class="ms-MessageBanner-text">
                        <div class="ms-MessageBanner-clipper">
                            You've reached your total storage on OneDrive. Please upgrade your storage plan if you need more storage.
                        </div>
                    </div>
                    <button class="ms-MessageBanner-expand"> <i class="ms-Icon ms-Icon--chevronsDown"></i> </button>
                    <div class="ms-MessageBanner-action">
                        <button class="ms-Button ms-Button--primary ms-fontColor-neutralLight">Подробнее</button>
                    </div>
                </div>
                <button class="ms-MessageBanner-close"> <i class="ms-Icon ms-Icon--x"></i> </button>
            </div>
            <div class="ms-Overlay">

            </div>
        </div>
    </div>
</div>